{% extends "page.html" %}
{% block title %}Pipeline log messages{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
    <h1>Pipeline log messages</h1>

    <div class="alert alert-info" role="alert">
        Showing pipeline logs
    </div>

    <form method="GET" action="{{ self_url }}">
        <div class="form-item-holder">
            <div class="form-item">
                <p class="formlabel">Filter by severity</p>
                <select class="slt" name="min_severity">
                    {% for option in severity_options %}
                        <option value="{{ option }}" {% if option == min_severity %}selected="selected"{% endif %}>
                            {{ option }}
                        </option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-item form-item-notitle">
                <input type="submit" class="btn btn-sm btn-success" value="Update...">
            </div>
        </div>
    </form>

    <hr/>

    <div class="alert alert-success" role="alert">
        {% if log_table.result_max > log_table.result_min %}
            Showing pipeline logs {{ log_table.result_min_str }} &ndash; {{ log_table.result_max_str }} of
            {{ log_table.result_count_str }}
        {% elif log_table.result_max > 0 %}
            Showing pipeline logs {{ log_table.result_max_str }} of {{ log_table.result_count_str }}
        {% else %}
            No matching pipeline logs
        {% endif %}
    </div>

    {% if log_table.page_max > 1 %}
        <div class="pager">
            {% for pager_item in pager_list %}
                <div class="pager_item">
                    {% if pager_item.num != log_table.page_number %}
                        <a href="{{ pager_item.url }}">{{ pager_item.num }}</a>
                    {% else: %}
                        {{ pager_item.num }}
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <table class="library_list bordered bordered_compact">
        <thead>
        <tr>
            <td>Task id</td>
            <td>Timestamp</td>
            <td>Message</td>
        </tr>
        </thead>
        <tbody>
        {% for log_item in log_table.list %}
            <tr class="log_item_{{ log_item.class }}">
                <td>
                    {% if log_item.task_id %}
                        <a href="/task/{{ log_item.task_id }}">{{ log_item.attempt_id }}</a>
                    {% else %}
                        {{ log_item.attempt_id }}
                    {% endif %}
                </td>
                <td style="white-space: nowrap">{{ log_item.time }}</td>
                <td>
                    <pre style="font-size: 12px; margin-bottom:0;">{{ log_item.message }}</pre>
                </td>
            </tr>
        {% else %}
            <tr>
                <td>
                    There are no log messages currently in the database.
                </td>
                <td>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
