<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="author" content="Dominic Ford"/>
    <!-- <meta http-equiv="refresh" content="20"> -->

    <title id="title1">
        {% block title %}{% endblock %}
    </title>

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <script src="/static/vendor/jquery/dist/jquery.min.js" type="text/javascript"></script>

    <script src="/static/vendor/tether/dist/js/tether.min.js"></script>
    <link rel="stylesheet" href="/static/vendor/bootstrap/dist/css/bootstrap.min.css">
    <script src="/static/vendor/bootstrap/dist/js/bootstrap.min.js"></script>

    <script src="/static/vendor/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="/static/vendor/font-awesome/css/font-awesome.min.css">

    <script src="/static/vendor/vis/dist/vis.js"></script>
    <link href="/static/vendor/vis/dist/vis.css" rel="stylesheet" type="text/css"/>
    <link href="/static/vendor/vis/dist/vis-timeline-graph2d.min.css" rel="stylesheet" type="text/css"/>

    <link rel="stylesheet" type="text/css" href="/static/style.css" media="all"/>
    <script type="text/javascript" src="/static/js/dummy.js"></script>

</head>
<body>
<div class="contentwrapper">
    <nav id="navbar-header" class="navbar navbar-dark bg-inverse navbar-fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" style="padding-right:25px;" href="/">
                <i class="fa fa-home" aria-hidden="true"></i>
            </a>
            <div style="padding-top:8px;color:#ccc;font-size:14px;float: left; margin-right: 30px;">
                The EAS pipeline web console
            </div>
            <ul class="navbar-nav" style="list-style: none;">
                <li class="nav-item">
                    <a class="nav-link" href="/">
                        Task tree
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/directories">
                        File products
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                       aria-haspopup="true" aria-expanded="false">
                        Performance
                    </a>
                    <div class="dropdown-menu" aria-labelledby="Preview">
                        <a class="dropdown-item" href="/timings">
                            Task timings
                        </a>
                        <a class="dropdown-item" href="/pass_fail">
                            Task pass/fail
                        </a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                       aria-haspopup="true" aria-expanded="false">
                        Pipeline activity
                    </a>
                    <div class="dropdown-menu" aria-labelledby="Preview">
                        <a class="dropdown-item" href="/timeline">
                            Activity timeline
                        </a>
                        <a class="dropdown-item" href="/progress">
                            Progress summary
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <div class="mainpage container-fluid">
        {% block content %}{% endblock %}
    </div>
</div>
</body>
</html>
