{% extends "page.html" %}
{% block title %}Pipeline task information{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
    <h1>Pipeline task information &ndash; task {{ task_id }}</h1>

    <div class="alert alert-info" role="alert">
        Showing task status
    </div>

    <h5>Task info</h5>

    <table class="library_list bordered bordered_compact stripy">
        <thead>
        <tr>
            <td>Parameter</td>
            <td>Value</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Task type</td>
            <td>{{ task_info.task_type_name }}</td>
        </tr>
        <tr>
            <td>Task name</td>
            <td>{{ task_info.task_name }}</td>
        </tr>
        </tbody>
    </table>

    <h5>Input metadata</h5>

    <table class="library_list bordered bordered_compact stripy">
        <thead>
        <tr>
            <td>Parameter</td>
            <td>Value</td>
        </tr>
        </thead>
        <tbody>
        {% for item in task_info.input_metadata_list %}
            <tr>
                <td>{{ item[0] }}</td>
                <td style="max-width:800px;">{{ item[1] }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">
                    There is no metadata associated with this item.
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h5>Input files</h5>

    <table class="library_list bordered bordered_compact">
        <thead>
        <tr>
            <td>Semantic type</td>
            <td>Info</td>
        </tr>
        </thead>
        <tbody>
        {% for item in task_info.file_input_info %}
            <tr>
                <td>
                    {% if item.version_id > 0 %}
                        <a href="/file/{{ item.version_id }}/{{ item.filename }}">
                            {{ item.name }}
                        </a>
                    {% else %}
                        {{ item.name }}
                    {% endif %}
                </td>
                <td>
                    <p style="margin: 18px 0 6px 0;"><b>File info</b></p>

                    <table class="library_list bordered bordered_compact stripy">
                        <thead>
                        <tr>
                            <td>Parameter</td>
                            <td>Value</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Filename</td>
                            <td>
                                <a href="/file/{{ item.version_id }}/{{ item.filename }}">
                                    {{ item.filename }}
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>Directory</td>
                            <td>{{ item.directory }}</td>
                        </tr>
                        <tr>
                            <td>File ID</td>
                            <td>{{ item.id }}</td>
                        </tr>
                        </tbody>
                    </table>

                    <p style="margin: 18px 0 6px 0;"><b>File metadata</b></p>

                    <table class="library_list bordered bordered_compact stripy">
                        <thead>
                        <tr>
                            <td>Parameter</td>
                            <td>Value</td>
                        </tr>
                        </thead>
                        <tbody>
                        {% for meta_item in item.metadata %}
                            <tr>
                                <td>{{ meta_item[0] }}</td>
                                <td style="max-width:800px;">{{ meta_item[1] }}</td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="2">
                                    There is no metadata associated with this item.
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">
                    There are no input file products.
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% for task_run in task_info.runs %}

        <hr/>

        <h3>Task execution attempt {{ task_run.run_id }}</h3>

        <h5>Run statistics</h5>
        <table class="library_list bordered bordered_compact stripy">
            <thead>
            <tr>
                <td>Parameter</td>
                <td>Value</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Is queued</td>
                <td>{{ task_run.isQueued }}</td>
            </tr>
            <tr>
                <td>Is running</td>
                <td>{{ task_run.isRunning }}</td>
            </tr>
            <tr>
                <td>Is finished</td>
                <td>{{ task_run.isFinished }}</td>
            </tr>
            <tr>
                <td>Error fail</td>
                <td>{{ task_run.errorFail }}</td>
            </tr>
            <tr>
                <td>Worker hostname</td>
                <td>{{ task_run.hostname }}</td>
            </tr>
            <tr>
                <td>Queued at</td>
                <td>{{ task_run.queuedTime|safe }}</td>
            </tr>
            <tr>
                <td>Start time</td>
                <td>{{ task_run.startTime|safe }}</td>
            </tr>
            <tr>
                <td>End time</td>
                <td>{{ task_run.endTime|safe }}</td>
            </tr>
            <tr>
                <td>Latest heartbeat</td>
                <td>{{ task_run.latestHeartbeat|safe }}</td>
            </tr>
            <tr>
                <td>Run time (wall clock)</td>
                <td>{{ task_run.runTimeWallClock|safe }}</td>
            </tr>
            <tr>
                <td>Run time (CPU)</td>
                <td>{{ task_run.runTimeCpu|safe }}</td>
            </tr>
            <tr>
                <td>Run time (inc child processes)</td>
                <td>{{ task_run.runTimeCpuIncChildren|safe }}</td>
            </tr>
            </tbody>
        </table>

        <h5>Output metadata</h5>

        <table class="library_list bordered bordered_compact stripy">
            <thead>
            <tr>
                <td>Parameter</td>
                <td>Value</td>
            </tr>
            </thead>
            <tbody>
            {% for item in task_run.output_metadata %}
                <tr>
                    <td>{{ item[0] }}</td>
                    <td style="max-width:800px;">{{ item[1] }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="2">
                        There is no metadata associated with this item.
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <h5>Output files</h5>

        <table class="library_list bordered bordered_compact">
            <thead>
            <tr>
                <td>Semantic type</td>
                <td>Info</td>
            </tr>
            </thead>
            <tbody>
            {% for item in task_run.file_output_info %}
                <tr>
                    <td>
                        <a href="/file/{{ item.version_id }}/{{ item.filename }}">
                            {{ item.name }}
                        </a>
                    </td>
                    <td>
                        <p style="margin: 18px 0 6px 0;"><b>File info</b></p>

                        <table class="library_list bordered bordered_compact stripy">
                            <thead>
                            <tr>
                                <td>Parameter</td>
                                <td>Value</td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Filename</td>
                                <td>
                                    <a href="/file/{{ item.version_id }}/{{ item.filename }}">
                                        {{ item.filename }}
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>Directory</td>
                                <td>{{ item.directory }}</td>
                            </tr>
                            <tr>
                                <td>File ID</td>
                                <td>{{ item.id }}</td>
                            </tr>
                            <tr>
                                <td>Passed QC</td>
                                <td>{{ item.passed_qc }}</td>
                            </tr>
                            </tbody>
                        </table>

                        <p style="margin: 18px 0 6px 0;"><b>File metadata</b></p>

                        <table class="library_list bordered bordered_compact stripy">
                            <thead>
                            <tr>
                                <td>Parameter</td>
                                <td>Value</td>
                            </tr>
                            </thead>
                            <tbody>
                            {% for meta_item in item.metadata %}
                                <tr>
                                    <td>{{ meta_item[0] }}</td>
                                    <td style="max-width:800px;">{{ meta_item[1] }}</td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="2">
                                        There is no metadata associated with this item.
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="2">
                        There are no output file products.
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <h5>Log messages</h5>

        <table class="library_list bordered bordered_compact">
            <thead>
            <tr>
                <td>Task id</td>
                <td>Timestamp</td>
                <td>Message</td>
            </tr>
            </thead>
            <tbody>
            {% for log_item in task_run.log_table %}
                <tr class="log_item_{{ log_item.class }}">
                    <td>{{ log_item.attempt_id }}</td>
                    <td style="white-space: nowrap">{{ log_item.time }}</td>
                    <td>
                        <pre style="font-size: 12px; margin-bottom:0;">{{ log_item.message }}</pre>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="2">
                        There are no log messages currently in the database.
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    {% endfor %}
{% endblock %}
