{% extends "page.html" %}
{% block title %}Pipeline task timings{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
    <h1>Pipeline task timings</h1>

    <div class="alert alert-info" role="alert">
        Showing task timings
    </div>

    <form method="GET" action="{{ self_url }}">
        <div class="form-item-holder">
            <div class="form-item">
                <p class="formlabel">Filter by job name</p>
                <select class="slt" name="job_name">
                    {% for option in job_name_options %}
                        <option value="{{ option }}" {% if option == job_name %}selected="selected"{% endif %}>
                            {{ option }}
                        </option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-item">
                <p class="formlabel">Task type</p>
                <select class="slt" name="task_type">
                    {% for option in task_type_options %}
                        <option value="{{ option }}" {% if option == task_type %}selected="selected"{% endif %}>
                            {{ option }}
                        </option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-item form-item-notitle">
                <input type="submit" class="btn btn-sm btn-success" value="Update...">
            </div>
        </div>
    </form>

    <hr/>

    {% for table_item in timing_info %}

        <h5>{{ table_item.title }}</h5>

        <table class="library_list bordered bordered_compact stripy">
            <thead>
            <tr>
                {% for column_item in table_item.column_headings %}
                    <td>{{ column_item }}</td>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for row_item in table_item.data_rows %}
                <tr>
                    {% for column_item in row_item.row_str %}
                        <td style="text-align: right;">{{ column_item }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>

    {% else %}
        <p>
            There is no timing data currently in the task database.
        </p>
    {% endfor %}

{% endblock %}
